{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 style="text-align:center;">{{search| title}}</h1>



<div class="row">
{% for title,url,price,image in final_postings %}
    <div class="col-4 mt-4">
        <div class="card" style="width: 18rem;">
            <a href="{{url}}"><img src="{{image}}" class="card-img-top" height = "300px" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{title|truncatechars:22}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">{{price}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock content %}